<section id="one" class="tiles">
  <article>
    <header class="major">
      <h3><a href="/blog" class="link">Blog</a></h3>
      <p>Read news, updates, and any musings relating to BibleBot.</p>
    </header>
  </article>
  <article>
    <header class="major">
      <h3><a href="/commands" class="link">Commands</a></h3>
      <p>An online command list at your assistance!</p>
    </header>
  </article>
  <article>
    <header class="major">
      <h3><a href="/terms" class="link">Terms of Service</a></h3>
      <p>The legalese of using BibleBot.</p>
    </header>
  </article>
</section>
